# Bi thieu module apt-get install php libapache2-mod-php. Neu package php chua cai thi cai them
# Hoac improve them phan nay
- hosts: host0
  remote_user: root
  become: yes
  become_method: sudo
  vars_files:
    - vars/default.yml
  roles:
    - { role: geerlingguy.phpmyadmin }