- name: Create temp download directory
  ansible.builtin.file:
    path: "{{ temp_folder }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: 0755
  become_user: "{{ app_user }}"
  become_method: su

- name: Download the nvm(node version manager) install script
  get_url:
    url: https://raw.githubusercontent.com/creationix/nvm/v0.31.0/install.sh
    dest: "{{ temp_folder }}/install.sh"
  become_user: "{{ app_user }}"
  become_method: su

- name: Execute the nvm install script
  shell: bash install.sh
  args:
    chdir: "{{ temp_folder }}"
    executable: /bin/bash
  become_user: "{{ app_user }}"
  become_method: su

#print in shell and take to out put into nvm_dir
- name: Register the NVM_DIR
  shell: echo $NVM_DIR
  register: nvm_dir
  become_user: "{{ app_user }}"
  become_method: su

# import nvm in shell
- name: Setup .bashrc
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: source ~/.nvm/nvm.sh # This will make sure Node is on the user's PATH
    create: true
  become_user: "{{ app_user }}"
  become_method: su

- name: Install node version
  ansible.builtin.shell: |
    source ~/.nvm/nvm.sh && nvm install {{node_version}}
  args:
    executable: /bin/bash
    chdir: "$HOME"
    creates: "$HOME/.nvm/versions/node/v{{node_version}}"
  loop:
    - 14.15.0
  become_user: "{{ app_user }}"
  become_method: su

- name: Specified node version using the nvm command and set it as default
  shell: |
    ~/.nvm/nvm.sh run {{node_version}} --version && ~/.nvm/nvm.sh alias default {{node_version}}
  become_user: "{{ app_user }}"
  become_method: su

- name: Install yarn, pm2
  ansible.builtin.shell: |
    source $HOME/.nvm/nvm.sh
    npm install --global yarn pm2
  args:
    executable: /bin/bash
  become_user: "{{ app_user }}"
  become_method: su
  remote_user: "{{ app_user }}"
