---
- name: Node.js | Create temp download directory
  ansible.builtin.file:
    path: "{{ temp_folder }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: "0755"

- name: Node.js | Download NVM install script
  get_url:
    url: https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh
    dest: "{{ temp_folder }}/nvm_install.sh"
    mode: "0755"
  become_user: "{{ app_user }}"

- name: Node.js | Install NVM
  shell: bash "{{ temp_folder }}/nvm_install.sh"
  args:
    executable: /bin/bash
    creates: "/home/{{ app_user }}/.nvm/nvm.sh"
  become_user: "{{ app_user }}"

- name: Node.js | Install Node version {{ node_version }}
  shell: |
    source ~/.nvm/nvm.sh && nvm install {{ node_version }} && nvm alias default {{ node_version }}
  args:
    executable: /bin/bash
    creates: "/home/{{ app_user }}/.nvm/versions/node/v{{ node_version }}*"
  become_user: "{{ app_user }}"

- name: Node.js | Install global packages
  shell: |
    source ~/.nvm/nvm.sh && npm install --global yarn pm2
  args:
    executable: /bin/bash
  become_user: "{{ app_user }}"

- name: Node.js | Add NVM to .bashrc
  lineinfile:
    path: "/home/{{ app_user }}/.bashrc"
    line: 'export NVM_DIR="$HOME/.nvm"; [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"; [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"'
    state: present
  become_user: "{{ app_user }}"
