---
- name: Prerequisites | Install common packages
  apt:
    name:
      - git
      - curl
      - gnupg
      - software-properties-common
    state: present
    update_cache: true

- name: Prerequisites | Create app_user user
  user:
    name: "{{ app_user }}"
    password: "{{ app_password | password_hash('sha512') }}"
    shell: /bin/bash
    create_home: true
    home: "/home/{{ app_user }}"
  ignore_errors: true

- name: Prerequisites | Ensure app_user home permissions
  file:
    path: "/home/{{ app_user }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: "0755"
